/* Main Admin Container */
.admin-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f0f7f4; /* Light background color */
  display: flex; /* Flexbox for layout */
  flex-direction: row; /* Horizontal layout */
}


.user-section {
  position: absolute;
  width: 80vw; /* Full width of the container */
  height: 55vh; /* Height of the section */
  left: 10vw; /* Position relative to the main container */
  top: 20vh; /* Position relative to the main container */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Align items in a row */
  flex-wrap: nowrap; /* Prevent wrapping to next line */
  gap: 2vw; /* Space between cards */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Hide vertical scrolling */
  padding-bottom: 1vh; /* Padding at the bottom */
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: #70abaf #f0f7f4; /* Custom scrollbar colors for Firefox */
  
} 

.user-card {
  position: absolute;
  width: 75vw; /* Full width of the container */
  height: 19vh; /* Height of the section */
  background: #70abaf; /* Background color of cards */
  border-radius: 2vw; /* Rounded corners for cards */
  padding: 1vw; /* Padding inside the card */
  display: flex; /* Flexbox for card content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center align text */
  position: relative; /* For delete button positioning */
}



/* Delete User Button */
.delete-user {
  position: absolute;
  top: 10px; /* Positioning relative to the card */
  right: 10px; /* Positioning relative to the card */
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor for interactivity */
  padding: 0; /* No padding */
}

/* Add User Button */
.add-user-button {
  position: fixed; /* Fixed position to keep it in view */
  width: 30vw; /* Width for the button */
  height: 7.5vh; /* Height for the button */
  left: 35vw; /* Center align the button horizontally */
  bottom: 5vh; /* Position near the bottom */
  background: #705d56; /* Background color */
  border-radius: 1.5vw; /* Rounded corners */
  display: flex; /* Flexbox for centering content */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer; /* Pointer cursor for interactivity */
  z-index: 10; /* Ensure it's above other elements */
}

.user-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Add some space above the buttons */
}

.update-user {
  background-color:#705d56; /* Bootstrap primary color */
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-user:hover {
  background-color: #99e1d9; /* Darker blue on hover */
}
