html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-sizing: border-box;
}

.assignments-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f0f7f4;
  display: flex;
}

/* Left Panel / Sidebar */
.left-panel {
  position: fixed;
  width: 5vw; /* Match this with the main content margin-left */
  height: 100vh;
  left: 0;
  top: 0;
  background: #70abaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

/* Home Button */
.home-button {
  position: absolute;
  width: 4vw;
  height: 4vh;
  left: -0.5vw;
  top: 5vh;
  cursor: pointer;
}

.home-button img {
  width: 150%;
  height: 150%;
  object-fit: contain;
}

/* Logout Button */
.logout-button {
  position: absolute;
  width: 10vw;
  height: 10vh;
  left: -1vw;
  top: 90vh;
  cursor: pointer;
}

.logout-button img {
  width: 75%;
  height: 80%;
  object-fit: contain;
}

/* Main Content */
.main-content {
  margin-left: 5vw; /* Update to match left-panel width */
  width: calc(100vw - 5vw); /* Fix to match the viewport width exactly */
  padding: 2vw 1vw; /* Add some padding for better spacing */
}

.page-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  line-height: 4vw;
  color: #000000;
  margin-bottom: 2vh;
}

/* List of Students */
.list-of-students {
  margin-top: 2vh; /* Reduced space between title and student list */
  margin-left: -3vw;
}

.students-header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  color: #000000;
  margin-bottom: 1vh; /* Reduce gap below the header */
}

.student {
  margin: 2vh auto; /* Center the student boxes */
  background: #705d56;
  border-radius: 25px;
  padding: 2vh 0; /* Increase padding for better readability */
  width: 90vw; /* Reduced width to leave some margin on the sides */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.student:hover {
  background-color: #806a63; /* Darker shade on hover */
}

.student-name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw; /* Increase font size for better readability */
  color: #f0f7f4;
  text-align: center;
}
.download-feedback-button {
  background-color: #99e1d9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.download-feedback-button:hover:not(.disabled) {
  background-color: #99e1d950;
}

.download-feedback-button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.download-message {
  color: #ff0000;
  margin-top: 10px;
  font-weight: bold;
}
