body {
  margin: 0; /* Ensure no default margin */
  overflow: hidden; /* Prevent scrolling */
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f7f4;
}

.login__decorative-panel {
  position: relative;
  width: 40vw;
  height: 90vh;
  border-radius: 2vw;
}

.login__sloth-wrapper {
  position: absolute;
  left: 0vw;
  top: -3vh;
  width: 100vw;
  height: auto;
}

.login__sloth-image {
  width: 60vw;
  height: auto;
  object-fit: cover;
}

.login__panel {
  width: 50vw;
  height: 100vh;
  padding: 0 2vw;
  background: #f0f7f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.login__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: #000000;
  text-align: center;
}

.login__input-field {
  position: relative;
  margin-bottom: 3vh;
}

.login__input-label {
  position: absolute;
  top: -2.5vh;
  left: 1vw;
  background: #f0f7f4;
  padding: 0 0.5vw;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  color: #636363;
}

.login__input {
  width: 100vw;
  height: 13vh;
  background: #f0f7f4;
  border: 0.1vw solid #636363;
  border-radius: 1vw;
  padding: 0vh 1vw;
  margin-bottom: 5vh;
  font-size: 1.2vw;
  width: 45vw;
}

.login__forgot-password {
  margin-bottom: 2vh;
}

.login__forgot-password-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  color: #70abaf;
  cursor: pointer;
  text-decoration: underline;
}

.login__button {
  width: 47vw;
  height: 9vh;
  background: #705d56;
  border: none;
  border-radius: 0.5vw;
  color: #f0f7f4;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 10;
}

.login__button:hover {
  background-color: #5a4b45;
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
  }

  .login__decorative-panel {
    width: 90vw;
    height: 40vh;
    margin: 5vh 0;
  }

  .login__panel {
    width: 90vw;
    height: auto;
  }

  .login__title {
    font-size: 6vw;
  }

  .login__input-label {
    font-size: 3vw;
  }

  .login__input {
    font-size: 2.5vw;
  }

  .login__forgot-password-text {
    font-size: 2.5vw;
  }

  .login__button {
    font-size: 4vw;
  }
}
