/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(112, 171, 175, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: #70abaf; 
    padding: 30px;
    border-radius: 2vw; 
    width: 30vw; 
    max-width: 400px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Modal Actions */
  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Input and Textarea */
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #080000; /* Light border */
    border-radius: 4px;
    background: white; /* White background */
    color: black; /* Black text */
    font-family: "Inter"; /* Consistent font style */
    font-size: 1.2vw; /* Responsive font size */
  }
  
  /* Button Styles */
  button {
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #70abaf; /* Match the dashboard's button color */
    color: #e6f4ee; /* Ensure the text is readable */
    font-family: "Inter"; /* Consistent font style */
    font-size: 1.2vw; /* Responsive font size */
  }
  
  /* Button Hover Effect */
  button:hover {
    background: #4d8f94; /* Darker shade for hover effect */
  }
  